.client_search {
    margin-top: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    width: 360px;
    height: 60px;
    align-self: center;
    display: table;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.client_search input {
    border-radius: 27px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 6px;
    width: 230px;
    height: 50px;
    border: none;
}

.client_search textarea:focus, input:focus {
    outline: none;
}

.client_search:hover {
    background-color: #4CC3BE30;
    transition: transform 0.3s;
    transform: scale(1.1);
    box-shadow: 0px 5px 15px #dbdbdb1a;
}

.client_search input:hover {
    background-color: #4CC3BE30;
    transition: transform 0.3s;
    transform: scale(1.1);
}