/* .react-calendar {
    margin: 0 auto;
    height: 300px;
    width: 400px;
  } */

.MuiPaper-root {
  width: 1400px;
  height: 600px;
}

.nova_rezervacija_button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #0000001A;
  border-radius: 27px;
  width: 180px;
  height: 60px;
  align-self: center;
  display: table;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 900px;
}

.nova_rezervacija_button img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.nova_rezervacija_button h3 {
  letter-spacing: 0px;
  color: #43425D;
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-left: 20px;
}

.nova_rezervacija_button:hover {
  background-color: #4CC3BE30;
  transition: transform 0.3s;
  transform: scale(1.1);
  box-shadow: 0px 5px 15px #dbdbdb1a;
}