.klijenti_body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.klijenti_body h1 {
    font-size: 45px;
    font-weight: bold;
    color: #43425D;
    text-shadow: 0px 3px 6px #0000001A;
    padding-right: 600px;
}

.novi_klijent {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #0000001A;
    border-radius: 27px;
    width: 188px;
    height: 60px;
    align-self: center;
    display: table;
    position: relative;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.novi_klijent img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.novi_klijent h3 {
    letter-spacing: 0px;
    color: #43425D;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 20px;
}

.novi_klijent:hover {
    background-color: #4CC3BE30;
    transition: transform 0.3s;
    transform: scale(1.1);
    box-shadow: 0px 5px 15px #dbdbdb1a;
}

.klijenti_tablica {
    width: 1200px;
    height: 40px;
    display: table;
    margin-top: 50px;
    margin-bottom: 30px;
}

.klijenti_tablica li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    opacity: 0.5;
}

.klijent_box {
    width: 1200px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    display: table;
    background: white 0% 0% no-repeat padding-box;
    margin-bottom: 15px;
    padding-right: 20px;
}

.klijent_box button {
    display: none;
}

.klijent_box li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.klijent_box:hover {
    background-color: #4CC3BE30;
    transition: transform 0.3s;
    transform: scale(1.05);
}

.klijent_box button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.klijent_box:hover>button {
    display: contents;
}

.klijent_box:hover>button:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.brisanje p {
    font-size: 18px;
}