@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
body {
    margin: 0px 0px 0px 0px;
}

.login_body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Source Sans Pro';
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.physical_image {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.login_form {
    height: 600px;
    padding-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h1_login h1 {
    height: 64px;
    color: #43425d;
    letter-spacing: 9px;
    margin: 0;
    font-size: 50px;
    padding-right: 0px !important;
}

.dobrodosli h2 {
    color: #4D4F5C;
    opacity: 0.7;
    padding-bottom: 70px;
    font-size: 25px;
}

.login_body input {
    width: 270px;
    height: 30px;
    margin-bottom: 30px;
    background: #E6EAED;
    border-radius: 12px;
    padding-left: 15px;
    font-size: 18px;
    border: none;
}

.prijava {
    background: #4cc3be;
    border-radius: 5px;
    width: 185px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    border: #4cc3be;
    outline: none;
}

.prijava p {
    color: #ffffff;
    font-size: 16px;
}

.registracija {
    border: 1px solid #43425d;
    color: #ffffff;
    background: #4cc3be;
    border-radius: 4px;
    width: 185px;
    height: 50px;
}

.registracija p {
    font: normal normal normal 18px/13px Source Sans Pro;
    letter-spacing: 0px;
    color: #4d4f5c;
}

.registracija:hover {
    background-color: white;
    color: #4d4f5c;
}