.naplacivanje_body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.naplacivanje_body h1 {
    font-size: 45px;
    text-align: left;
    font-weight: bold;
    color: #43425D;
    text-shadow: 0px 3px 6px #0000001A;
    margin-bottom: 35px;
}

.naplacivanje_body select {
    width: 200px;
    height: 35px;
    background: #E6EAED;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 50px;
}

.naplacivanje_body select:hover{
    background-color: #50C3BF;
}

.naplacivanje_body input {
    width: 100px;
    height: 35px;
    background: #E6EAED;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 22px;
}