.profil_body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 500px;
}

.flex_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

h1 {
    font-size: 45px;
    text-align: left;
    font-weight: bold;
    color: #43425D;
    text-shadow: 0px 3px 6px #0000001A;
    margin-bottom: 35px;
}

.profil {
    width: 400px;
    height: 700px;
    padding-top: 20px;
    background: #43425D 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border-radius: 12px;
    padding-left: 50px;
}

.profil p{
    color: #F4F5F9;
    text-align: center;
    font-size: 25px;
}

input {
    width: 225px;
    height: 35px;
    background: #E6EAED;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    margin-bottom: 22px;
    align-self: center;
}

.input p{
    text-align: left;
}

