.profil_body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.profil_body h1 {
    font-size: 45px;
    text-align: left;
    font-weight: bold;
    color: #43425D;
    text-shadow: 0px 3px 6px #0000001A;
    margin-bottom: 35px;
}

.profil {
    width: 350px;
    height: 575px;
    opacity: 0.8;
    padding-top: 20px;
    background: #5b5a79;
    box-shadow: 0px 5px 15px #00000029;
    border-radius: 12px;
    margin-right: 150px;
    color: #F4F5F9;
    text-align: center;
    font-size: 25px;
    margin-bottom: 150px;
}

.profil img {
    width: 100px;
    height: 100px;
}

.profil input {
    width: 200px;
    height: 35px;
    background: #E6EAED;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    margin-bottom: 22px;
    text-align: center;
}

.profil:hover {
    
    transition: transform 0.3s;
    transform: scale(1.2);
    background: #43425D;
    opacity: 1;
}