.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.usluga {
    width: 200px;
    height: 40px;
    background: #4CC3BE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: white;
    display: table;
    margin-right: 40px;
    margin-top: 5px;
    padding-left: 12px;
}

.usluga p {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    opacity: 1;
}

.trajanje {
    width: 140px;
    height: 39px;
    background: #4CC3BE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: white;
    display: table;
    margin-right: 40px;
    margin-top: 5px;
    padding-left: 12px;
}

.trajanje p {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    opacity: 1;
}

.cijena {
    width: 130px;
    height: 39px;
    background: #4CC3BE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: white;
    display: table;
    margin-top: 5px;
    padding-left: 12px;
}

.cijena p {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    opacity: 1;
}