.h1_usluge h1 {
    color: #43425D;
    text-shadow: 0px 3px 6px #00000029;
    padding-right: 300px;
    font-weight: bold;
}

.body {
    background: #FBFBFD 0% 0% no-repeat padding-box;
    display: flex;
    flex-wrap: wrap;
}

.nova_usluga {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #0000001A;
    border-radius: 27px;
    width: 180px;
    height: 60px;
    align-self: center;
    display: table;
    position: relative;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.nova_usluga img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.nova_usluga h3 {
    letter-spacing: 0px;
    color: #43425D;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 20px;
}

.nova_usluga:hover {
    background-color: #4CC3BE30;
    transition: transform 0.3s;
    transform: scale(1.1);
    box-shadow: 0px 5px 15px #dbdbdb1a;
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.usluge_tablica {
    width: 625px;
    display: table;
    margin-top: 50px;
    margin-bottom: 30px;
}

.usluge_tablica li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    opacity: 0.5;
}

.rectangle {
    background-color: white;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.rectangle:hover {
    background-color: #4CC3BE30;
    transition: transform 0.3s;
    transform: scale(1.05);
}

.rectangle button {
    display: none;
}

.rectangle p {
    font-size: 15px;
    color: #43425D;
    opacity: 0.75;
}

.rectangle:hover>button {
    margin-left: 10px;
    display: contents;
}

.usluga {
    width: 200px;
    height: 40px;
    background: #4CC3BE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    display: table;
    margin-right: 40px;
    margin-top: 5px;
    padding-left: 12px;
    vertical-align: middle;
}

.usluga p {
    display: table-cell;
    vertical-align: middle;
    color: white;
    opacity: 1;
}

.trajanje {
    width: 120px;
    height: 39px;
    background: #4CC3BE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    display: table;
    margin-right: 40px;
    margin-top: 5px;
    padding-left: 12px;
}

.trajanje p {
    display: table-cell;
    vertical-align: middle;
    color: white;
    opacity: 1;
}

.cijena {
    width: 120px;
    height: 39px;
    background: #4CC3BE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    display: table;
    margin-top: 5px;
    padding-left: 12px;
}

.cijena p {
    display: table-cell;
    vertical-align: middle;
    color: white;
    opacity: 1;
}

.opis {
    width: 320px;
    height: 90px;
    background: #4CC3BE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    display: table;
    margin-top: 5px;
    padding-left: 12px;
    margin-left: 20px;
}

.opis p {
    display: table-cell;
    padding-top: 10px;
    color: white;
    opacity: 1;
}

.rectangle button {
    margin-top: 40px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
}

.rectangle button:hover {
    transition: transform 0.3s;
    transform: scale(1.2);
}